.login-box {
            background-color: #8bbef8; 
            width: 500px; 
            padding: 20px; 
            border: 1px solid #000000; 
            margin: 50px auto;
            height: 750px; 
            max-width: 400px;
}   

.img-fondo {
            background-image: url('images/mario.jpg'); 
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
            min-height: 100vh; 
            display: flex;
            justify-content: center;
            align-items: center;
        }
