.img-fondo {
            background-image: url('images/samu4k.jpg'); 
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
            min-height: 100vh; 
            display: flex;
            justify-content: center;
            align-items: center;
        }